.search{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}

.search > img{
    width: 50px;
    margin-left: 50px;
}

.container{
    width: 100%;
    max-width: 520px;
    margin: auto;
    display: flex;
}

@media only screen and (max-width: 1000px){
    .search{
        padding: 10px;
    }

    .search > img{
        display: none;
    }
}