.video{
    flex: 1.5;
}

.embed{
    position: relative;
    padding-bottom: 56.25%;
    background: #dcddde;
    width: 100%;
}

.embed > iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.detail{
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

.detail > h4{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 3px;
}

.detail > h3{
    font-size: 0.9rem;
    margin-bottom: 8px;
}

@media only screen and (max-width: 1000px){
    .video{
        flex: 0.5;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .detail > h4{
        font-size: 1rem;
    }

    .detail > p{
        font-size: 0.9rem;
    }
}