.list{
    flex: 1;
    margin-left: 30px;
    padding-right: 10px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-height: 1000px){
    .list{
        padding-right: 3px;
        margin-left: 15px;
    }
}